/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1134px)
	#panel-heading
		border-radius: 3px
		// display: none
		position: absolute
		top: 100px
		font-family: "Opensans", sans-serif
		font-weight: bold
		font-size: 18px
		line-height: 20px
		text-align: center
		padding: 10px 0px
		color: #fff

	.btn-readmore-procc
		font-size: 15px !important
		line-height: 35px !important
		text-transform: uppercase
		padding-left: 25px
		padding-right: 25px
		padding-top: 3px
		padding-bottom: 3px
		margin-top: 20px
		display: inline-block
		&::before
			content: "\f085"	

	h3, .h3	
		font-family: $default-font
		font-weight: normal
		font-size: 18px
		line-height: 23px
		color: #65738E
	.btn
		min-width: 162px
		min-height: 35px  
		display: inline-block
		cursor: pointer
		border-radius: 25px
		text-align: center
		font-family: "Opensans", sans-serif
		font-size: 12px
		line-height: 31px
		text-decoration: none

		&:visited
			color:#1100C2

		&-bg
			line-height: 35px
			background-color: #1100C2	
			box-shadow: 0 2px 10px 0 #4D5AFF
			color: #fff !important
			transition: color .2s, background-color .4s, box-shadow .2s ease-in-out
			&::before
				transition: color .2s, background-color .4s, box-shadow .2s ease-in-out
				content: "\f003"
				color: #fff
				font-family: "FontAwesome"
				font-size: 15px
				line-height: 15px
				margin-right: 10px
			&:hover
				transition: color .2s, background-color .4s, box-shadow .2s ease-in-out
				color: #1100C2 !important
				background-color: #fff !important
				border: 2px solid #1100C2
				line-height: 31px
				box-shadow: none !important
				&::before
					transition: color .2s, background-color .4s, box-shadow .2s ease-in-out
					color: #1100C2 !important

		&-light  
			transition: all .2s ease-in-out
			color: #1100C2
			border: 2px solid #1100C2
			&::before
				transition: all .2s ease-in-out
				content: "\f003"
				color: #1100C2
				font-family: "FontAwesome"
				font-size: 15px
				line-height: 15px
				margin-right: 10px
			&:hover
				transition: all .2s ease-in-out
				color: #fff
				border-color: #fff
				background-color: #1100C2
				border: 2px solid #1100C2
				&::before
					transition: all .2s ease-in-out
					color: #fff
	
	.menu
		nav 
			ul
				display: flex
				flex-wrap: nowrap

				li:nth-of-type(2)
					a::before
						display: none

				li.home //кнопка Home
					position: relative
					top: -4px
					right: 0px
					a
						font-size: 18px
						line-height: 17px
						color: #1100C2							
						text-decoration: none
						&:hover
							color: #21184C
				
				li.item //li.item - пункты меню
					position: relative
					&::after
						content: ''
						opacity: 0
						transition: all .6s ease-in-out

					&:hover
						&::after
							content: ''
							position: absolute
							bottom: 0
							right: 6%
							width: 85%
							height: 2px
							background-color: #1000C2
							opacity: 1
							transition: all .6s ease-in-out
						a
							color: #21184C
							&::before
								background-color: #1000C2				
					a									
						display: block
						position: relative
						font-size: 13px
						line-height: 14px
						letter-spacing: 0.6px
						text-transform: uppercase
						color: #08005A
						font-family: $default-font
						font-weight: normal
						text-decoration: none
						padding-right: 10px
						padding-left: 10px
						padding-bottom: 8px
						white-space: nowrap
						&::before
							content: ''
							position: absolute
							left: 0px
							top: 5%
							height: 50%
							width: 1px
							background-color: #A9ADB9

	.site-header
		.fixed
			// border: 1px solid red
			height: 65px
			width: 100%
			min-width: 1024px
			position: fixed
			top: -150px
			left: 0px 
			right: 0
			z-index: 999
			transition: 0.4s top cubic-bezier(.3, .73, .3, .74)
			.btn-block
				padding-left: 10px !important

		.menu-full
			margin: 0 auto
			z-index: 99999999999999999999
			max-width: 1920px
			background-color: #fff
			box-shadow: 0px 15px 20px -15px rgba(75,101,129,0.4),  0px -15px 20px -15px rgba(75,101,129,0.4) 
	   
			.wrapper
				.menu-block
					+row-flex()
					// border: 1px solid #000
					z-index: 9999
					justify-content: space-between
					align-items: center
					min-height: 65px
					background-color: #FFF
	 
					.logo
						+size(2) //больше 1134px
						+size-md(2)//ниже 1134px до 1024
						+size-sm(12)//ниже 1024 до 714
						// +size-xs(12)//ниже 714 до 290
						padding-left: 41px
						margin-left: 0px
						margin-top: 0px  
						a
							display: block 
		 					text-indent: -9999px
					.menu
						+size(5)
						+size-md(5)
						+size-sm(12) //sm - ниже 715px
						margin-left: 0px
						margin-right: 46px
						margin-top: 15px

					.btn-block
						+size(3)
						+size-md(3)
						+size-sm(12)
						padding-left: 18px
						margin-right: 0px
						margin-bottom: 0px


		.slider-full
			position: relative
			max-width: 1920px
			max-height: 757px
			background-repeat: no-repeat
			background-position: top right
			background-size: 548px 482px
			margin: 0px auto 50px auto
			.wrapper
				// border: 1px solid red
				.slider-block
					+row-flex()
					.slider
						+size(5)
						// border: 1px solid green
						min-height: 482px
						position: relative
						// height: 100%

						.quotes
								// border: 1px solid red
								z-index: 99
								width: 100%
								position: absolute
								top: 75px
								left: 45px

								.quote-dots
									display: flex

									.dot-fill
										background-color: #CFF1FF !important

									.nav-dot
										height: 16px	
										width: 16px									
										display: inline-block
										border-radius: 50px
										background-color: rgba(158,170,194,0.5)
										margin-right: 10px
										cursor: pointer
										&:last-of-type
											margin: 0
									
								.quote-contain
									.show
										opacity: 1 !important
										visibility: visible !important

									.quote-rotate
										position: absolute
										top: 26px
										left: -2px
										opacity: 0
										overflow: visible
										visibility: hidden
										transition: opacity, 0.3s, ease
										font-family: $default-font
										font-weight: normal
										font-size: 36px
										color: #1100C2
										line-height: 42px
										padding-right: 30px
										// border: 1px solid #000
						
						a
							position: absolute
							top: 276px
							left: 45px
							z-index: 99

						.syntel-bg
							// border: 1px solid red
							position: absolute
							top: 197px
							left: 45px
							color: #F4F5F8
							font-family: $default-font
							font-weight: normal
							font-size: 100px
							line-height: 117px
	.about
		// border: 1px solid red
		position: relative
		margin: 0 auto
		max-width: 1920px
		min-height: 768px
		background-image: url('../img/foto_splash_text.png') 
		background-repeat: no-repeat
		background-position: -66px 68px
		background-size: 434px 526px
		// background-size: cover

		&:before
			// border: 1px solid black
			display: block
			content: ''
			width: 392px
			height: 750px
			top: -148px
			position: absolute
			z-index: -1
			background-image: url('../img/dot_circle.svg')
			background-repeat: no-repeat
			background-position: -30px -21px
			// background-size: 614px 850px
			background-size: 392px 760px	


		.wrapper
			.about-content


				+row-flex()
				+size(7)
				+size-md(7)
				// +shift-md-left(5)
				margin-left: 41%

				.h2
					font-family: $default-font
					font-weight: normal
					color: #08005A
					margin-top: 77px
					margin-bottom: 23px
					font-size: 30px
					line-height: 35px
				.h3
					text-align: left
					margin-bottom: 29px
					font-size: 18px
					line-height: 21px
				.content				
					font-family: "Opensans", sans-serif
					font-weight: normal
					font-size: 14px
					line-height: 19px
					color: #65738E
					opacity: .8
					p
						margin-bottom: 18px
	.why
		// border: 1px solid red
		// display: none
		position: relative
		margin: 30px auto 0 auto
		max-width: 1920px
		background: url('../img/dots_wave.svg') no-repeat center 82px
		background-size: contain
		z-index: 9999999

		.wrapper
			.h2
				font-family: $default-font
				color: #1100C2
				font-weight: bold
				font-size: 30px
				line-height: 35px
				margin-bottom: 17px			

			.h3
				text-align: center
				letter-spacing: normal
				margin: 0 auto 80px auto
				max-width: 62%
				text-align: center			
			.why-content
				// margin-top: 335px
				position: relative

				.hvastalka
					// border: 1px solid green
					display: flex
					justify-content: center
					align-items: center
					margin: 226px auto 0 auto
					width: 544px
					height: 540px
					background: url('../img/bg_poly_spl.svg') no-repeat -20px center
					background-size: 544px 540px
					position: relative

					.center
						// border: 1px solid red
						position: relative
						max-height: 147px
						width: 300px
						height: 281px
						max-width: 300px
						max-height: 281px
						overflow: hidden
						left: -19px
						top: 20px

						.title
							color: #08005A
							font-family: $default-font
							font-size: 20px
							font-weight: bold
							line-height: 24px
							text-align: center

						.text
							position: relative
							top: 18px
							max-height: 181px
							overflow: hidden
							// border: 1px solid #000
							opacity: 0.8
							color: #08005A
							font-family: $default-font
							font-size: 12px
							font-style: italic
							line-height: 17px
							text-align: center						

						.title-default
							// border: 1px solid red
							padding-top: 58px
							color: #08005A
							font-family: $default-font
							font-size: 32px
							font-weight: bold
							line-height: 24px
							text-align: center
							margin: 0 auto 4px auto
							max-width: 225px						
							max-height: 87px
							overflow: hidden

						.text-default
							// border: 1px solid red
							color: #08005A
							font-family: $default-font
							font-size: 22px
							line-height: 25px
							text-align: center
							max-width: 360px									
							max-height: 171px
							overflow: hidden
					
					
					.item
						position: absolute

						.reason
							color: #65738E
							font-family: $default-font
							font-size: 16px
							font-weight: 600
							line-height: 19px
							text-align: center
						
						.title 
							display: flex
							align-items: center
							justify-content: center
							z-index: 999999999
							color: #1100C2
							font-family: $default-font
							font-size: 18px
							font-weight: bold
							line-height: 21px
							text-align: center
							word-wrap: break-word						
							width: 261px
							max-width: 261px
							height: 48px
							max-height: 48px
							overflow: hidden
							&:hover
								cursor: pointer

								~ .container .point
									background-color: $pizduha-color-hover							

						.text
							display: none
						.icon
							z-index: 999999
							position: absolute
							width: 55px
							height: 55px
							border-radius: 50%
							background-color: #1100C2
							box-shadow: 5px 5px 20px 0 rgba(75,101,129,0.4)
							background-size: contain
							background-repeat: no-repeat
							background-position: center center
							transition: all 0.3s ease-in-out
							&:hover
								// cursor: pointer
								~ .container .point
									background-color: $pizduha-color-hover						
						.container
							// border: 1px solid red
							width: 73% 
							z-index: 0
							margin: 0 auto
							position: relative
							height: 120px
							transition: all 0.3s ease-in-out
							.triangle
								position: absolute
								transition: all 0.3s ease-in-out
							.point
								position: absolute
								width: 10px
								height: 10px
								border-radius: 50%
								background-color: $pizduha-color									

						&:nth-of-type(1)// основной первый блок
							top: -156px
							left: 129px
							.icon
								top: 193px
								left: 104px
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-left: 2px solid $solid-border-color
		
							.reason
								text-align: center
								position: relative 
								top: 71px
								left: 0px
							.title
								text-align: center
								position: relative
								top: 57px
								left: -1px
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-left: 2px solid $solid-border-color

							.text
								// border: 1px solid red
								// display: block
								top: 441px
								left: -44px				

							.container
						    	top: 62px
						    	border-top: 2px dashed $dash-border-color
						    	// border: 1px solid red
					    		.point
					    			top: -7px
						    	.triangle
						    		top: 24px
						    		right: -58px
						    		width: 122px
						    		height: 118px
						    		transform: rotate(48deg)
						    		border-left: 2px dashed $dash-border-color
						    		border-bottom: none	
										
						&:nth-of-type(2)
							// border: 1px solid red
							top: -13px
							right: -70px
							.icon
								bottom: 21px
								left: 21px
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-left: 2px solid $solid-border-color
			
							.title
								text-align: left
								justify-content: flex-start
								position: relative
								right: -146px
								top: 29px	
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-left: 2px solid $solid-border-color

							.reason
								text-align: left
								position: relative
								top: 41px
								right: -145px			

							.container
								right: -93px
								top: 32px
								border-top: 2px dashed $dash-border-color
								// border: 1px solid red
								.triangle
									top: 29px
									left: -84px
									width: 133px
									height: 103px
									transform: rotate(64deg)
									border-left: 2px dashed $dash-border-color
									// border: 1px solid red
								.point
									top: -7px
									right: -6px

						&:nth-of-type(3)
							// border: 1px solid red
							top: 129px
							right: -127px
							.icon
								bottom: 21px
								left: 21px
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-top: 2px solid $solid-border-color
			
							.title
								text-align: left
								justify-content: flex-start
								position: relative
								right: -135px
								top: 109px	
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-top: 2px solid $solid-border-color

							.reason
								text-align: left
								position: relative
								top: 118px
								right: -133px			

							.container
								width: 191px
								right: -92px
								bottom: -111px
								border-top: 2px dashed $dash-border-color
								// border: 1px solid red
								.triangle
									top: -30px
									left: -119px
									width: 87px
									height: 169px
									transform: rotate(26deg)
									border-top: 2px dashed $dash-border-color
									// border: 1px solid red
								.point
									top: -7px
									right: -6px

						&:nth-of-type(4)
							// border: 1px solid red
							top: 267px
							right: -64px
							.icon
								bottom: 21px
								left: 21px
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-top: 2px solid $solid-border-color
			
							.title
								text-align: left
								justify-content: flex-start
								position: relative
								right: -149px
								top: 161px	
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-top: 2px solid $solid-border-color

							.reason
								text-align: left
								position: relative
								top: 160px
								right: -150px			

							.container
								width: 185px
								right: -101px
								bottom: -176px
								border-top: 2px dashed $dash-border-color
								// border: 1px solid red
								.triangle
									top: -75px
									left: -160px
									width: 132px
									height: 139px
									transform: rotate(49deg)
									border-top: 2px dashed $dash-border-color
									// border: 1px solid red
								.point
									top: -7px
									right: -8px

						&:nth-of-type(5)
							// border: 1px solid red
							bottom: -5px
							left: 133px
							.icon
								top: 81px
								left: 99px
								&:hover
									~ .container
										border-bottom: 2px solid $solid-border-color
										.triangle
											border-right: 2px solid $solid-border-color
			
							.title
								text-align: center
								position: relative
								top: 223px
								left: -4px	
								&:hover
									~ .container
										border-bottom: 2px solid $solid-border-color
										.triangle
											border-right: 2px solid $solid-border-color
							.reason
								text-align: center
								position: relative
								top: 222px
								left: -5px			

							.container
								width: 190px
								// border: 1px solid red
								top: 20px
								left: -4px
								border-bottom: 2px dashed $dash-border-color
								.triangle
									// border: 1px solid red
									top: -25px
									left: -78px
									width: 137px
									height: 113px
									transform: rotate(45deg)
									border-right: 2px dashed $dash-border-color
								.point
									bottom: -6px
									right: 0px

						&:nth-of-type(6)
							// display: none
							// border: 1px solid red
							top: 271px
							left: -116px
							.icon
								bottom: 21px
								right: 2px
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-left: 2px solid $solid-border-color
			
							.title
								text-align: left
								justify-content: flex-end
								position: relative
								left: -125px
								top: 166px	
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-left: 2px solid $solid-border-color

							.reason
								text-align: right
								position: relative
								top: 177px
								left: -124px			

							.container
								width: 192px
								left: -73px
								bottom: -170px
								border-top: 2px dashed $dash-border-color
								// border: 1px solid red
								.triangle
									top: -92px
									right: -166px
									width: 133px
									height: 153px
									transform: rotate(41deg)
									border-left: 2px dashed $dash-border-color
									// border: 1px solid red
								.point
									top: -6px
									left: -8px

						&:nth-of-type(7)
							// border: 1px solid red
							top: 130px
							left: -182px
							.icon
								bottom: 21px
								right: -2px
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-top: 2px solid $solid-border-color
			
							.title
								// height: 60px
								// max-height: 60px					
								// border: 1px solid red
								text-align: right
								justify-content: flex-end
								position: relative
								left: -93px
								top: 77px	
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-top: 2px solid $solid-border-color

							.reason
								text-align: right
								position: relative
								top: 76px
								left: -109px			

							.container
								width: 188px
								left: -62px
								bottom: -108px
								border-top: 2px dashed $dash-border-color
								// border: 1px solid red
								.triangle
									top: -31px
									right: -129px
									width: 97px
									height: 169px
									transform: rotate(-26deg)
									border-top: 2px dashed $dash-border-color
									// border: 1px solid red
								.point
									top: -7px
									left: -6px

						&:nth-of-type(8)
							// border: 1px solid red
							top: -16px
							left: -120px
							.icon
								bottom: 21px
								right: 0px
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-right: 2px solid $solid-border-color
			
							.title
								text-align: right
								justify-content: flex-end
								position: relative
								left: -119px
								top: 24px	
								&:hover
									~ .container
										border-top: 2px solid $solid-border-color
										.triangle
											border-right: 2px solid $solid-border-color

							.reason
								text-align: right
								position: relative
								top: 23px
								left: -122px			

							.container
								width: 184px
								left: -75px
								top: 35px
								border-top: 2px dashed $dash-border-color
								// border: 1px solid red
								.triangle
									top: 27px
									right: -90px
									width: 137px
									height: 116px
									transform: rotate(-64deg)
									border-right: 2px dashed $dash-border-color
									// border: 1px solid red
								.point
									top: -7px
									left: -6px
	.wave-top
		// border: 1px solid #000
		height: 162px
		max-width: 1920px
		margin: 0 auto
		background: url('../img/wave_up.svg') no-repeat center bottom
		background-size: contain

	.wave-bottom
		// border: 1px solid #000
		height: 162px
		max-width: 1920px
		margin: 0 auto
		background: url('../img/wave_down.svg') no-repeat center top
		background-size: contain	

	.services
		position: relative
		margin: 0px auto 0 auto
		max-width: 1920px
		background-color: #F4F5F8
		padding-top: 40px
		padding-bottom: 75px
		.wrapper
			// border: 1px solid green
			padding-left: 0
			padding-right: 0

			.h2
				font-family: $default-font
				color: #1100C2
				font-weight: bold
				font-size: 30px
				line-height: 35px
				margin-bottom: 20px
			.h3
				letter-spacing: normal
				margin: 0 auto 27px auto
				max-width: 62%
				text-align: center

			.serv-block
				padding-top: 0px
				padding-left: 42px
				padding-right: 42px
				// width: 90%
				// border: 1px solid #000
				// +row-flex()
				&::after
					display: block
					content: ''
					clear: both

				ul.resp-tabs-list
					li
						// max-height: 43px
						color: #08005A
						font-family: $default-font
						font-weight: 500
						font-size: 16px
						padding-top: 9.5px !important
						padding-bottom: 9.5px !important
						// line-height: 19px
						// padding-bottom: 5px
						&::before
							content: "\f105"
							font-family: "FontAwesome"
							height: 20px
							width: 8px
							color: #1100C2
							font-size: 20px
							line-height: 20px
							margin-right: 18px


						border: 
							top: 1px solid rgba(45,87,149,0.6)
							left: 5px solid rgba(45,87,149,0.6)	
						opacity: 0.49
						&:last-child
							border-bottom: 1px solid rgba(45,87,149,0.6)
					
					.resp-tab-active

						color: #1100C2
						right: -5px
						width: calc(100% - 5px)
						position: relative
						background-color: #FFF
						opacity: 1
						border:
							left: none
							bottom: 1px solid rgba(45,87,149,0.6)

						// outline-right: 15px solid #1100c2
						&::after
							display: block
							position: absolute
							right: -15px
							top: -1px
							content: ''
							width: 15px
							height: calc(100% + 2px)
							background-color: #1100C2		

					// border: 1px solid red			
					width: 32%
					// +col()
					// +size(4)

				.resp-tabs-container
					padding: 20px 25px 40px 30px
					width: 68%
					background-color: #FFFFFF
					box-shadow: 0 10px 25px 0 rgba(37,56,106,0.3)
					border-radius: 0
					border: 0

					// +col()
					// border: 1px solid red

					h1
						text-align: left
						color: #08005A
						font-family: $default-font
						font-weight: normal
						font-size: 30px
						line-height: 35px
					h2
						margin-top: 18px
						margin-bottom: 21px
						text-align: left
						color: #65738E
						font-family: $default-font
						font-size: 22px
						line-height: 26px
					p
						// opacity: 0.8
						color: #838ea2
						font-family: "Opensans"
						font-size: 14px
						line-height: 19px

					img
						margin-top: 5px
						margin-bottom: 5px
					ul
						li
							// opacity: 0.75
							color: #838ea2
							font-family: "Opensans"
							font-weight: normal
							font-size: 14px
							line-height: 19px
							margin-bottom: 14px
							position: relative
							padding-left: 40px
							&::before
								display: block
								content: "\f00c"
								color: #1100C2
								font-family: "FontAwesome"
								font-weight: normal
								font-size: 20px
								line-height: 20px
								position: absolute
								left: 0px																																																																		

	.process
		// border: 1px solid #000
		position: relative
		margin: -73px auto 0 auto
		max-width: 1920px
		.wrapper
			text-align: center

			padding-left: 0
			padding-right: 0

			.h2
				font-family: $default-font
				color: #1100C2
				font-weight: bold
				font-size: 30px
				line-height: 35px
				margin-bottom: 7px


			.h3
				letter-spacing: normal
				margin: 0 auto 19px auto
				max-width: 62%
				text-align: center
				font-size: 18px
				line-height: 21px

			.proc-block
				padding-left: 30px
				padding-right: 30px

				.proc-item
					.wrap-proc-img
						.proc-img
							background-size: 295px 295px !important
					+row-flex()
					&:nth-child(even)
						.wrap-proc-img
							flex-direction: row-reverse
							.proc-img
								margin-right: 10px
								margin-top: -145px

						.proc-text-wrap
							order: 1

					&:nth-child(odd)
						.proc-text-wrap
							text-align: right
							margin-bottom: 145px			


					.wrap-proc-img
						// border: 1px solid #000
						display: flex
						+col()
						+size(6)						
						.proc-img
							margin-top: 9px
							margin-left: 17px
							// border: 1px solid red
							width: 340px
							height: 340px										

					.proc-text-wrap
						text-align: left
						// border: 1px solid #000
						padding: 15px
						+col()
						+size(6)	

						.proc-heading
							color: #1100C2
							font-family: $default-font
							font-size: 20px
							font-weight: bold
							line-height: 24px
							margin-bottom: 10px

						.proc-text
							opacity: 0.8
							color: #65738E
							font-family: $default-font
							font-size: 12px
							font-style: italic
							line-height: 19px
	.contacts
		// border: 1px solid red
		position: relative
		margin: 67px auto 0 auto
		max-width: 1920px

		.wrapper
			.h2
				font-family: $default-font
				color: #1100C2
				font-weight: bold
				font-size: 30px
				line-height: 35px
				margin-bottom: 13px

			.h3
				margin: 0 auto
				max-width: 62%
				text-align: center
				font-size: 18px
				line-height: 21px
			
			.contacts-content
				// border: 1px solid green
				+row-flex()
				justify-content: space-between
				margin-top: 64px
				margin-left: -30px
				margin-right: -30px

				input[type="text"], input[type="email"], input[type="file"], textarea
					font-family: "Opensans", sans-serif
					font-weight: normal
					font-size: 16px
					line-height: 22px
					color: #1100C2
					padding: 10px
					border-radius: 0	
					border: 1px solid #9EAAC2
					&:focus, &:active
						padding: 9px 
						outline: none
						border: 2px solid #1100C2
					&::-webkit-input-placeholder
						font-family: "Opensans", sans-serif
						font-weight: normal
						font-size: 16px
						line-height: 22px
						color: #9EAAC2 
					&::-moz-placeholder
						font-family: "Opensans", sans-serif
						font-weight: normal
						font-size: 16px
						line-height: 22px
						color: #9EAAC2
					&:-ms-input-placeholder
						font-family: "Opensans", sans-serif
						font-weight: normal
						font-size: 16px
						line-height: 22px
						color: #9EAAC2
					&:-moz-placeholder
						font-family: "Opensans", sans-serif
						font-weight: normal
						font-size: 16px
						line-height: 22px
						color: #9EAAC2
				
						
				input[type="file"]
					width: 0px

				input[type="text"], input[type="email"]
					margin-bottom: 20px
					width: 92%
				
				.jfilestyle
					width: 92%
					margin-bottom: 0
					height: 44px
					span.focus-jfilestyle
						display: block
						position: absolute
						top: 1px
						right: 0px
						height: 43px
						width: 88px
						height: 43px
						label
							width: 100%
							display: block
							height: 100%
							font-family: "Opensans", sans-serif
							font-weight: 600
							font-size: 14px
							line-height: 19px
							color: #fff
							background-color: #6D94C0
							outline: none
							border: none

					input[type="text"]
						background-color: #fff
						margin-bottom: 0 !important

							

				// >*
				// 	border: 1px solid red

				.form-title
					padding-left: 15px
					padding-right: 15px
					// border: 1px solid red
					+size(4)
					+size-md(5)
					+shift-md-left(1)
					.title
						color: #1100C2
						font-family: $default-font
						font-weight: bold
						font-size: 20px
						line-height: 24px
					.text
						margin-top: 15px !important
						opacity: 0.8
						color: #65738E
						font-family: "Opensans", sans-serif
						font-weight: normal
						font-size: 15px
						line-height: 20px
						margin-top: 8px
					.btn-block-footer
						margin-top: 47px
						button
							&::before
								font-size: 18px
								line-height: 18px

							font-size: 15px
							line-height: 20px
							line-height: 20px
							padding: 0
							outline: none
							border: none
							padding: 12px 66px	
							&:hover
								border: 2px solid #1100C2
								padding: 10px 64px	

				.form-first
					margin-left: 17px
					+size(4)
					+size-md(5)
					+shift-md-right(1)
				.form-second
					margin-top: 20px
					margin-right: 16px
					// border: 1px solid red
					+size(4)
					+size-md(5)
					+shift-md-left(6)


					textarea
						min-height: 110px
						min-width: 92%
						width: 92%
						overflow: hidden		
	.wave-dots
		height: 149px
		max-width: 1920px
		margin: 0 auto
		background-image: url('../img/dots_wave.svg')
		background-position: center top
		background-repeat: no-repeat
		background-size: cover
		border-bottom: 5px solid #CED4E0

	.address
		background-color: #F4F5F8
		// border: 1px solid red
		position: relative
		padding: 45px 0
		margin: 0px auto
		max-width: 1920px
		.wrapper
			.address-block
				+row-flex()

				color: #08005A
				font-family: $default-font
				font-size: 18px
				font-weight: 500
				line-height: 21px		
				justify-content: center
				
				>*
					+size(4)
					// border: 1px solid red
					

				.addr
					position: relative
					text-align: left
					padding-left: 32px
					padding-top: 4px
					&::before
						color: #1100C2
						content: "\f041"
						font-family: "FontAwesome"
						position: absolute
						left: 0px
						top: 11px
						font-size: 20px
						line-height: 17px

				.email				
					position: relative
					text-align: center
					padding-top: 5px
					padding-left: 2px
					a
						margin-left: 9px
						text-decoration: none
						color: #08005A
					&::before
						color: #1100C2
						content: "\f0e0"
						font-family: "FontAwesome"
						font-size: 17px
						line-height: 14px					

				.phone
					padding-top: 6px
					padding-right: 14px

					.fax
						margin-top: 10px
						span
							
							font-size: 16px
							color: #08005A
							font-family: "Opensans", sans-serif
							font-weight: normal
							line-height: 14px

					position: relative
					text-align: right
					a
						font-size: 19px
						color: #08005A
						font-family: "Opensans", sans-serif
						font-weight: normal
						line-height: 16px
						text-decoration: none

					&::before
						margin-right: 9px
						color: #1100C2
						content: "\f095"
						font-family: "FontAwesome"
						font-size: 20px
						line-height: 17px

	.bottom-menu
		padding-top: 32px
		min-height: 80px
		// border: 1px solid green
		.wrapper

			.menu-block-bottom
				+row-flex()
				justify-content: space-between

				>*
					// border: 1px solid #000
				.logo
					+size(2)
					+size-md(2)
					margin-left: 35px
					margin-top: -7px
					margin-bottom: 10px 
					// border: 1px solid #000
				.copy
					order: 1
					+size(3)
					+size-md(12)
					margin-left: 20px									
					color: #65738E
					font-family: "Opensans", sans-serif
					font-size: 14px
					line-height: 19px

				.menu
					order: 0
					padding-left: 0px
					// border: 1px solid #000
					+size(7)
					+size-md(7)
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	// .wave-dots
		// background-image: url('../img/dots_wave_mobile.png')	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

