@import "fonts"
@import "libs"
@import "vars"

+reset()

.wrapper
	+wrapper()

.fixed
  position: fixed
  top: -150px
  left: 0
  right: 0
  z-index: 999
  transition: 0.4s top cubic-bezier(.3, .73, .3, .74)

.slideDown
	top: 0 !important

.readmore-css
	display: inline-block 
	margin-top: 26px
	cursor: pointer 
	color: #1100C2
	text-align: center
	font-family: "Opensans", sans-serif
	font-size: 14px
	text-align: center 
	border: 1px solid #1100C2
	border-radius: 8px
	width: 111px
	height: 25px
	line-height: 24px
	transition: background-color .3s, color .3s ease-in-out
	&:hover
			background-color: #1100C2
			color: #fff
			border: none
			transition: background-color .3s, color .3s ease-in-out
			border: 1px solid #1100C2


.readmore-css-hover
	background-color: #1100C2
	color: #fff
	border: 1px solid #1100C2
	transition: background-color .3s, color .3s ease
	&:hover
		transition: background-color .3s, color .3s ease
		border: 1px solid #1100C2
		background-color: #fff
		cursor: pointer 
		color: #1100C2		

	
body
	overflow-x: hidden
	min-width: 320px
	background-color: #fff

#my-page
	// overflow-x: hidden

h1, .h1, h2, .h2, h3, .h3
	text-align: center
	color: $accent

h2, .h2
	font-size: 36px
	line-height: 27px

h3, .h3	
	font-family: $default-font
	font-weight: normal
	font-size: 22px
	line-height: 26px
	color: #65738E

p
	font-family: "Opensans", sans-serif
	font-weight: normal
	font-size: 15px
	line-height: 20px
	color: #65738E
	margin-bottom: 18px		
	
.btn

	min-width: 194.3px
	min-height: 45px  
	display: inline-block
	cursor: pointer
	border-radius: 25px
	text-align: center
	font-family: "Opensans", sans-serif
	font-size: 15px
	line-height: 41px
	// padding: 10.5px 23.5px 10.5px 23.5px
	text-decoration: none

	&:visited
		color:#1100C2

	&-bg
		line-height: 43px
		background-color: #1100C2	
		box-shadow: 0 2px 10px 0 #4D5AFF
		color: #fff !important
		// padding: 12.5px 25.5px
		// transition: background-color .9s ease-in-out
		transition: color .2s, background-color .4s, box-shadow .2s ease-in-out
		&::before
			// transition: background-color .9s ease-in-out
			transition: color .2s, background-color .4s, box-shadow .2s ease-in-out

			content: "\f003"
			color: #fff
			font-family: "FontAwesome"
			font-size: 18px
			line-height: 18px
			margin-right: 10px
		&:hover
			// padding: 10.5px 23.5px
			// transition: background-color .9s ease-in-out
			transition: color .2s, background-color .4s, box-shadow .2s ease-in-out

			color: #1100C2 !important
			background-color: #fff !important
			border: 2px solid #1100C2
			line-height: 38px
			box-shadow: none !important
			&::before
				// transition: background-color .9s ease-in-out
				transition: color .2s, background-color .4s, box-shadow .2s ease-in-out

				color: #1100C2 !important


	&-light  
		transition: all .2s ease-in-out
		color: #1100C2
		border: 2px solid #1100C2
		// padding-right: 23.5px
		// padding-left: 23.5px
		&::before
			transition: all .2s ease-in-out
			content: "\f003"
			color: #1100C2
			font-family: "FontAwesome"
			font-size: 18px
			line-height: 18px
			margin-right: 10px
		&:hover
			transition: all .2s ease-in-out
			color: #fff
			border-color: #fff
			background-color: #1100C2
			border: 2px solid #1100C2
			&::before
				transition: all .2s ease-in-out
				color: #fff			
    
       
.site-header
	.menu-full
		margin: 0 auto
		z-index: 99999999999999999999
		// position: fixed
		max-width: 1920px
		// width: 100vw
		// min-height: 110px
		max-height: 757px;
		background-color: #fff
		// box-shadow: 0 -5px 10px -5px rgba(75,101,129,0.4), 0 5px 18px -5px rgba(75,101,129,0.4) 
		box-shadow: 0px 15px 20px -15px rgba(75,101,129,0.4),  0px -15px 20px -15px rgba(75,101,129,0.4) 
   
		.wrapper
			.menu-block
				// position: fixed
				// .menu-wrap
				+row-flex()
				// position: fixed
				z-index: 9999
				// width: 1134px
				justify-content: space-between
				align-items: center
				min-height: 110px
				background-color: #FFF
				// box-shadow: 0px 5px 20px 0 rgba(75,101,129,0.4)
				// border: 1px solid #000
				>*
					// border: 1px solid #000

				.logo
					+size(2)
					margin-left: 3px
					margin-top: -7px 
					// border: 1px solid red 
					a
						display: block
						text-indent: -9999px
				.menu
					+size(5)
					margin-left: -104px
					margin-top: 12px
					nav 
						ul
							display: flex
							flex-wrap: nowrap

							li:nth-of-type(2)
								a::before
									display: none

							li.home //кнопка Home
								position: relative
								top: -4px
								right: 18px
								a
									font-size: 20px
									line-height: 17px
									color: #1100C2							
									text-decoration: none
									&:hover
										color: #21184C


							
							li.item //li.item - пункты меню
								position: relative
								&::after
									content: ''
									opacity: 0
									transition: all .6s ease-in-out

								&:hover
									&::after
										content: ''
										position: absolute
										bottom: 0
										right: 6%
										width: 85%
										height: 2px
										background-color: #1000C2
										opacity: 1
										transition: all .6s ease-in-out
									a
										color: #21184C
										&::before
											background-color: #1000C2				
								a									
									display: block
									position: relative
									font-size: 14px
									line-height: 17px
									letter-spacing: 0.6px
									text-transform: uppercase
									color: #08005A
									font-family: $default-font
									font-weight: normal
									text-decoration: none
									padding-right: 10px
									padding-left: 10px
									padding-bottom: 8px
									white-space: nowrap
									&::before
										content: ''
										position: absolute
										left: 0px
										top: 5%
										height: 50%
										width: 1px
										background-color: #A9ADB9
		 

				.btn-block
					+size(3)
					margin-right: 6px
					margin-bottom: 3px

	.slider-full
		position: relative
		max-width: 1920px
		max-height: 757px
		background-repeat: no-repeat
		background-position: top right
		background-size: contain
		margin: 0px auto 50px auto
		.wrapper
			// border: 1px solid red
			.slider-block
				+row-flex()
				.slider
					+size(6)
					// border: 1px solid green
					min-height: 100vh
					position: relative
					height: 100%

					// .slider-wrap
					// 	border: 1px solid green
					// 	position: relative
					// 	height: 100%
					.quotes
							z-index: 99
							width: 100%
							// border: 1px solid red
							position: absolute
							top: 176px
							// margin: 50px auto 0px 
							// max-width: 500px

							.quote-dots
								display: flex
								// margin: 0 auto
								// text-align: center

								.dot-fill
									background-color: #CFF1FF !important;

								.nav-dot
									height: 16px	
									width: 16px									
									display: inline-block
									border-radius: 50px
									background-color: rgba(158,170,194,0.5)
									margin-right: 10px
									cursor: pointer
									&:last-of-type
										margin: 0
								
							.quote-contain
								.show
									opacity: 1 !important
									visibility: visible !important

								.quote-rotate
									position: absolute
									top: 26px
									left: -2px
									opacity: 0
									overflow: visible
									visibility: hidden
									transition: opacity, 0.3s, ease
									font-family: $default-font
									font-weight: normal
									font-size: 48px
									color: #1100C2
									line-height: 56px
									// border: 1px solid #000
					
					a
						position: absolute
						top: 448px
						z-index: 99

					.syntel-bg
						position: absolute
						top: 358px
						// border: 1px solid red
						color: #F4F5F8
						font-family: $default-font
						font-weight: normal
						font-size: 120px
						line-height: 141px


.about
	// border: 1px solid red
	position: relative
	margin: 0 auto
	max-width: 1920px
	min-height: 768px
	background-image: url('../img/foto_splash_text.png') 
	background-repeat: no-repeat
	background-size: 645px 768px
	// background-size: cover

	&:before
		// border: 1px solid black
		display: block
		content: ''
		width: 614px
		height: 850px
		top: -190px
		position: absolute
		z-index: -1
		background-image: url('../img/dot_circle.svg')
		background-repeat: no-repeat
		background-position: center center
		// background-size: 614px 850px
		background-size: contain	


	.wrapper
		.about-content

			+row-flex()
			+size(8)
			+shift-left(3)

			.h2
				font-family: $default-font
				font-weight: normal
				color: #08005A
				margin-top: 97px
				margin-bottom: 23px
			.h3
				text-align: left
				margin-bottom: 29px
			.content				
				font-family: "Opensans", sans-serif
				font-weight: normal
				font-size: 15px
				line-height: 20px
				color: #65738E
				opacity: .8
				p
					margin-bottom: 18px

.why
	border: 1px solid red
	position: relative
	margin: 0 auto
	max-width: 1920px
	height: 768px
	// background: url('../img/foto_splash_text.png') no-repeat 0px 0px
	// background-size: 645px 768px
	&:before
		content: ''
		// width: 614px
		// height: 850px
		// top: -190px
		position: absolute
		// z-index: -1
		// background: url('../img/dot_circle.svg') no-repeat 0px 0px
		// background-size: 614px 850px		


	.wrapper
		.why-content
			border: 1px solid green

			.h2
				font-family: $default-font
				color: #1100C2
				font-weight: bold
				font-size: 36px
				line-height: 32px

			.h3
				text-align: center

.contacts
	// border: 1px solid red
	position: relative
	margin: 0 auto
	max-width: 1920px
	// background: url('../img/foto_splash_text.png') no-repeat 0px 0px
	// background-size: 645px 768px
	// &::after
	// 	content: ''
	// 	height: 274px
	// 	width: 1920px
	// 	max-width: 1920px
	// 	margin: 0 auto
	// 	position: absolute
		// background: url('../img/dots_wave.png') no-repeat
		// background-size: 1920px 721px
		// border: 1px solid red

 
	.wrapper
		.h2
			font-family: $default-font
			color: #1100C2
			font-weight: bold
			font-size: 36px
			line-height: 32px
			margin-bottom: 35px

		.h3
			margin: 0 auto
			max-width: 62%
			text-align: center
		
		.contacts-content
			// border: 1px solid green
			+row-flex()
			justify-content: space-around
			margin-top: 95px
			margin-left: -30px
			margin-right: -30px

			input[type="text"], input[type="email"], input[type="file"], textarea
				font-family: "Opensans", sans-serif
				font-weight: normal
				font-size: 16px
				line-height: 22px
				color: #9EAAC2
				width: 100%
				padding: 10px
				border-radius: 0	
				border: 1px solid #9EAAC2
				&:focus, &:active
					padding: 9px
					outline: none
					border: 2px solid #1100C2
				&::-webkit-input-placeholder
					font-family: "Opensans", sans-serif
					font-weight: normal
					font-size: 16px
					line-height: 22px
					color: #9EAAC2 
				&::-moz-placeholder
					font-family: "Opensans", sans-serif
					font-weight: normal
					font-size: 16px
					line-height: 22px
					color: #9EAAC2
				&:-ms-input-placeholder
					font-family: "Opensans", sans-serif
					font-weight: normal
					font-size: 16px
					line-height: 22px
					color: #9EAAC2
				&:-moz-placeholder
					font-family: "Opensans", sans-serif
					font-weight: normal
					font-size: 16px
					line-height: 22px
					color: #9EAAC2		
					
			input[type="file"]
				width: 0px

			input[type="text"], input[type="email"]
				margin-bottom: 20px
			
			.jfilestyle
				width: 100%
				margin-bottom: 0
				height: 44px
				span.focus-jfilestyle
					display: block
					position: relative
					top: -42px
					right: -268px
					height: 43px
					width: 88px
					height: 40px
					label
						width: 100%
						display: block
						height: 100%
						font-family: "Opensans", sans-serif
						font-weight: 600
						font-size: 14px
						line-height: 19px
						color: #fff
						background-color: #6D94C0
						outline: none
						border: none

				input[type="text"]
					background-color: #fff
					margin-bottom: 0 !important

						

			// >*
			// 	border: 1px solid red

			.form-title
				+size(4)
				.title
					color: #1100C2
					font-family: $default-font
					font-weight: bold
					font-size: 20px
					line-height: 24px
				.text
					opacity: 0.8
					color: #65738E
					font-family: "Opensans", sans-serif
					font-weight: normal
					font-size: 15px
					line-height: 20px
					margin-top: 8px
				.btn-block-footer
					margin-top: 47px
					button
						// min-width: 194.3px
						// min-height: 45px
						line-height: 20px
						padding: 0
						outline: none
						border: none
						&:hover
							border: 2px solid #1100C2



			.form-first
				+size(4)
			.form-second
				+size(4)

				textarea
					min-height: 110px
					min-width: 100%
					overflow: hidden		


.wave-dots
	// width: 1920px
	// min-height: 274px
	height: 274px
	max-width: 1920px
	// border: 1px solid red
	margin: 0 auto
	background-image: url('../img/dots_wave.png')
	background-position: center top
	background-repeat: no-repeat
	background-size: cover
	border-bottom: 5px solid #CED4E0
	// background-attachment: fixed

.address
	background-color: #F4F5F8
	// border: 1px solid red
	position: relative
	padding: 50px 0
	margin: 0px auto
	max-width: 1920px
	.wrapper
		.address-block
			+row-flex()

			color: #08005A
			font-family: $default-font
			font-size: 18px
			font-weight: 500
			line-height: 21px		
			justify-content: space-between
			
			>*
				+size(4)
				// border: 1px solid red
				

			.addr
				position: relative
				text-align: left
				padding-left: 30px
				&::before
					color: #1100C2
					content: "\f041"
					font-family: "FontAwesome"
					position: absolute
					left: 0px
					top: 11px
					font-size: 20px
					line-height: 17px

			.email				
				position: relative
				text-align: center
				a
					margin-left: 9px
					text-decoration: none
					color: #08005A
				&::before
					color: #1100C2
					content: "\f0e0"
					font-family: "FontAwesome"
					font-size: 17px
					line-height: 14px					
					// position: absolute
					// left: 12px

			.phone
				.fax
					margin-top: 10px
					span
						
						font-size: 16px
						color: #08005A
						font-family: "Opensans", sans-serif
						font-weight: normal
						line-height: 14px

				position: relative
				text-align: right
				a
					font-size: 20px
					color: #08005A
					font-family: "Opensans", sans-serif
					font-weight: normal
					line-height: 16px
					text-decoration: none

				&::before
					margin-right: 9px
					color: #1100C2
					content: "\f095"
					font-family: "FontAwesome"
					font-size: 20px
					line-height: 17px					

.map
	// border: 1px solid red
	max-width: 1920px
	min-height: 200px
	margin: 0 auto

@import "media" // Всегда в конце