@import "fonts"
@import "libs"
@import "vars"

body
	background-color: #ccc

.test
	color: $accent
	// font-family: $default-font
	font-family: "Raleway", sans-serif
	font-size: 16px
	line-height: 19px;	
	font-weight: 600
